<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include 'bootstrap.html'%}
    <title>About us</title>
</head>
<body>
    {%include 'navbar.html'%}
    {%include 'hero.html'%}

    <div class="b-example-divider"></div>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="static\images\Image4.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <p class="lead">Welcome to Job Mitra, a dynamic online platform revolutionizing the way individuals connect with employment opportunities. At Job Mitra, we believe that meaningful work should be accessible to all, regardless of background, location, or circumstance. Our mission is to empower job seekers and employers alike by providing a free and open-source platform that fosters inclusivity, transparency, and efficiency in the job market.<br>

            Founded on the principles of accessibility and equality, Job Mitra is committed to breaking down barriers to employment. We recognize the challenges faced by individuals in accessing job opportunities, whether due to geographical limitations, socioeconomic factors, or systemic biases. By leveraging the power of technology and community collaboration, we aim to create a level playing field where talent and potential can shine, irrespective of traditional constraints.
          </p>
        </div>
      </div>
    </div>

      {%include 'contact.html'%}

    {%include 'footer.html'%}
</body>
</html>