<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{job['title']}} - Job Mitra</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .heading-block {
            background-color: #f8f9fa;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'hero.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-block">
                    <h2>Location:</h2>
                    <p>{{job['location']}}</p>
                </div>
                <div class="heading-block">
                    <h2>Job Type:</h2>
                    <p>{{job['job_type']}}</p>
                </div>
                <div class="heading-block">
                    <h2>Requirements:</h2>
                    <!-- <p>{{job['requirements']}}</p> -->
                    <ul>
                        {% for line in job['requirements'].split(",") %}
                         <li>{{line}}</li> 
                        {% endfor %}
                      </ul>
                </div>
                <div class="heading-block">
                    <h2>Responsibilities</h2>
                    <!-- <p>{{job['responsibilities']}}</p> -->
                    <ul>
                        {% for line in job['responsibilities'].split(",") %}
                         <li>{{line}}</li> 
                        {% endfor %}
                      </ul>
                </div>
                <div class="heading-block">
                    <h2>Certifications:</h2>
                    <p>{{job['certificate']}}</p>
                </div>
                <div class="heading-block">
                    <h2>Expected Salary:</h2>
                    <p>{{job['currency']}} {{job['salary']}}</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'Application.html' %}
    <br>

    {% include 'footer.html' %}

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
