<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{job.title}}-Job Mitra</title>
    {%include 'bootstrap.html'%}
</head>
<body>
    {%include 'navbar.html'%}
    {%include 'hero.html'%}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Location</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis arcu in velit ultrices interdum.</p>
            </div>
            <div class="col-md-6">
                <h2>Job Type</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis arcu in velit ultrices interdum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Requirements</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis arcu in velit ultrices interdum.</p>
            </div>
            <div class="col-md-6">
                <h2>Responsibilities</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis arcu in velit ultrices interdum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Certification</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis arcu in velit ultrices interdum.</p>
            </div>
            <div class="col-md-6">
                <h2>Salary</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis arcu in velit ultrices interdum.</p>
            </div>
        </div>
    </div>
    {%include 'footer.html'%}
</body>
</html>